.NavDiv{
    background-color: aqua;
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 2vmax;
    justify-content: space-around;
}

.Link{
    display: flex;
    gap: 10vmax;
}

.Link> a , :visited{
    text-decoration: none;
    color: rgb(205, 4, 4);
    

}